{% extends "layout.html" %}
{% block content %}
{% if session['username'] %}
{% if form %}
<form action="/addusers/{{l_id}}" method=post>
{{ form.userlist }}




	<div class="row">
		<div class=".col-xs-12 .col-md-8">
	
				<div class="btn-group btn-group-justified">
					<div class="btn-group">
					<a href="/addusers/{{ l_id }}" class="btn btn-default">	
						<span class="glyphicon glyphicon-file"> Add users</span>
					</a>
					</div>
					<div class="btn-group">
					<a href="/editlist/{{ l_id }}" class="btn btn-default">	
						<span class="glyphicon glyphicon-file"> Edit</span>
					</a>
					</div>
					<div class="btn-group">
					<a href="/addusers/{{ l_id }}" class="btn btn-default">	
						<span class="glyphicon glyphicon-refresh"> Refresh</span>
					</a>
					</div>
					<div class="btn-group">
					<a href="/viewlist/{{ l_id }}" class="btn btn-default">	
						<span class="glyphicon glyphicon-remove"> Cancel</span>
					</a>
					</div>
					<div class="btn-group">
					{{ wtf.form_field(form.submit,button_map={form.submit:'default'}) }}
						

					</div>
					<div class="btn-group">
						<div class="input-group">
			  				<input type="text" class="form-control filter" placeholder="Search">
			  				<span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
		  				</div>
					</div>
				</div>
				
	
		</div>
	</div>
	<div class="row">
		<div class=".col-xs-12 .col-md-8">
		<div class="table-responsive">
			 <table class="table table-hover">
			 	<thead>
				 <tr>
				 	 <th>User ID</th>
				 	 <th>Name</th>
				 	 <th>Permissions</th>
				 	 <th>View/Use</th>
				 	 <th>Modify</th>
				 </tr>
				</thead>
				
				{% if users %}
					
					
					<tbody class="searchable"> 
						{% for e in users %}
							<tr>
								<td>{{ e[0] }}</td>
								<td>{{ e[1] }}</td>
								<td>{{ e[2] }}</td>
								<td>{{ wtf.form_field(form["{}_view".format(e[0])]) }}</td>
								<td>{{ wtf.form_field(form["{}_modify".format(e[0])])  }}</td>
								
							</tr>
						{% endfor %}
					</tbody>
				{% else %}
				{% endif %}
				
			</table>
			</div>
		</div>
	</div>
</form>
{% else %}

{% endif %}
{%else%}Hello, Guest{%endif%}
	

{% endblock %}
