{% extends "layout.html" %}
{% block content %}
{% if form %}
<form action="/editevent/{{e_id}}" method=post>
	<div class="row">
			<div class=".col-xs-12 .col-md-8">
		
					<div class="btn-group btn-group-justified">
						<div class="btn-group">
						<a href="/editlist/{{ l_id }}" class="btn btn-default">	
							<span class="glyphicon glyphicon-refresh"> Refresh</span>
						</a>
						</div>
						<div class="btn-group">
						<a href="/viewlist/{{ l_id }}" class="btn btn-default">	
							<span class="glyphicon glyphicon-remove"> Cancel</span>
						</a>
						</div>
						<div class="btn-group">
						{{ wtf.form_field(form.submit,button_map={form.submit:'default'}) }}
						</div>
					</div>
					
		
			</div>
		</div>
      {{ form.hidden_tag() }}
 
      {{ wtf.form_field(form.name) }}
      {{ wtf.form_field(form.description) }}
      {{ wtf.form_field(form.list) }}
    </form>
{% else %}
<div class="alert alert-danger">Not signed in</div>
{% endif %}

{% endblock %}