{% extends "layout.html" %}
{% block content %}
{% if session['username'] %}
<div class="row">
	<div class=".col-xs-12 .col-md-8">

			<div class="btn-group btn-group-justified">
				<div class="btn-group">
				<a href="{{ url_for('newevent') }}" class="btn btn-default">	
					<span class="glyphicon glyphicon-file"> New</span>
				</a>
				</div>
				<div class="btn-group">
				<a href="{{ url_for('index') }}" class="btn btn-default">	
					<span class="glyphicon glyphicon-file"> My Lists</span>
				</a>
				</div>
				<div class="btn-group">
				<a href="{{ url_for('lists') }}" class="btn btn-default">	
					<span class="glyphicon glyphicon-file"> All Lists</span>
				</a>
				</div>
				<div class="btn-group">
				<a href="{{ url_for('events') }}" class="btn btn-primary">	
					<span class="glyphicon glyphicon-pushpin"> Events</span>
				</a>
				</div>
				<div class="btn-group">
				<a href="{{ url_for('events') }}" class="btn btn-default">	
					<span class="glyphicon glyphicon-refresh"> Refresh</span>
				</a>
				</div>
				<div class="btn-group">
				<div class="input-group">
  				<input type="text" class="form-control filter" placeholder="Search">
  				<span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
  				</div>
				</div>
			</div>
			

	</div>

<div class="row">
	<div class=".col-xs-12 .col-md-8">
	<div class="table-responsive">
		 <table class="table table-hover">
		 	<thead>
			 <tr>
			 	 <th></th>
				 <th>Name</th>
				 <th>Description</th>
				 <th>List</th>
				 <th>Author</th>
				 <th>Created Date</th>
				 <th>Modified Date</th>
				 <th>Modified By</th>
			 </tr>
			</thead>
			
			{% if events %}
				<tbody data-link="row" class="rowlink searchable"> 
					{% for event in events %}
						<tr>
							<td class="rowlink-skip"><a href="/viewevent/{{ event['_id'] }}"></a>
							<td>{{ event['name'] }}</td>
							<td>{{ event['description'] }}</td>
							<td>{{ event['listname'] }}</td>
							<td>{{ event['created_by'] }}</td>
							<td>{{ event['created_date'] }}</td>
							<td>{{ event['modified_date'] }}</td>
							<td>{{ event['modified_by'] }}</td>
						</tr>
					{% endfor %}
				</tbody>
			{% else %}
			{% endif %}
			
		</table>
		</div>
	</div>
</div>

{%else%}Hello, Guest{%endif%}
	

{% endblock %}
