{% extends "layout.html" %} {% block content %} {% if
session['username'] %}

<div class="row">
	<div class=".col-xs-12 .col-md-8">

		<div class="btn-group btn-group-justified">
			{% if perm >= 2 %}

			<div class="btn-group">
				<a href="/editevent/{{ e_id }}" class="btn btn-default"> <span
					class="glyphicon glyphicon-file"> Edit Event</span>
				</a>
			</div>
			<div class="btn-group">
				<a href="/runevent/{{ e_id }}" class="btn btn-default"> <span
					class="glyphicon glyphicon-file"> Manual Pick</span>
				</a>
			</div>
			{% else %} {% endif %}
			<div class="btn-group">
				<a href="{{ url_for('index') }}" class="btn btn-default"> <span
					class="glyphicon glyphicon-circle-arrow-left"> My Lists</span>
				</a>
			</div>
			<div class="btn-group">
				<a href="{{ url_for('events') }}" class="btn btn-default"> <span
					class="glyphicon glyphicon-pushpin"> My Events</span>
				</a>
			</div>
			<div class="btn-group">
				<a href="/viewevent/{{e_id}}" class="btn btn-default"> <span
					class="glyphicon glyphicon-refresh"> Refresh</span>
				</a>
			</div>
		</div>
	</div>
</div>
<br />
{% if perm == 0 %}
<!-- permissions for the event -->
<div class="alert alert-danger">Insufficient permissions.</div>
{% else %}
<div class="row">
	<div class=".col-xs-12 .col-md-8">
		<div class="panel panel-info">
			<div class="panel-heading">
				<h4 class="panel-title">
					Event Details
				</h4>
			</div>
			<ul class="list-group">
				<li class="list-group-item"><b>Name:</b> {{event['name']}}</li>
				<li class="list-group-item"><b>Description:</b>
					{{event['description']}}</li>
				<li class="list-group-item"><b>Created by:</b>
					{{event['created_by']}}</li>
				<li class="list-group-item"><b>Created Date:</b>
					{{event['created_date']}}</li>
				<li class="list-group-item"><b>Modified by:</b>
					{{event['modified_by']}}</li>
				<li class="list-group-item"><b>Modified Date:</b>
					{{event['modified_date']}}</li>
			</ul>

				<div class="panel-group" id="accordion">
				
					<div class="panel panel-info">
					<div class="panel-heading">
					<b>Lists:</b> {% if lists %} {% for l in lists %} {% if l %}
					</div>
					</div>
						<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<div class='button link' data-toggle="collapse"
									data-parent="#accordion" href="#collapse_{{ l['name'] }}">{{
									l['name'] }}</div>
							</h4>
						</div>
						<div id="collapse_{{ l['name'] }}" class="panel-collapse collapse">
							<div class="panel-body">
								<div class="table-responsive">
									<table class="table table-hover">
										<thead>
											<tr>
												<th>Item</th>
												<th>Rank</th>
												<th>Last Picked Date</th>
											</tr>
										</thead>

										<tbody>
											{% for e in l['elements'] %}
											<tr>
												<td>{{ e['name'] }}</td>
												<td>{{ e['rank'] }}</td>
												<td>{{ e['last_picked_date'] }}</td>
											</tr>
											{% endfor %}
										</tbody>


									</table>
								</div>
							</div>
						</div>
					</div>
					{% else %} {% endif %} {% endfor %} {% else %}
					<div class="alert alert-warning">No lists mapped.</div>
					{% endif %}
				</div>
				<!-- /panel-group accordian -->
			</div>

	</div>
</div>
{% endif %} {%else%}Hello, Guest{%endif%} {% endblock %}
